In [1]:
from google.colab import files
uploaded = files.upload()

Saving d.csv to d.csv

In [2]:
import io
import pandas as pd
df = pd.read_csv(io.BytesIO(uploaded['d.csv']))
# Dataset is now stored in a Pandas Dataframe

In [3]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from fbprophet import Prophet
from sklearn.metrics import mean_squared_error, mean_absolute_error
plt.style.use('fivethirtyeight') # For plots

In [4]:
df

                  DateTime  volume
0      2017-04-01 00:00:00      10
1      2017-04-01 01:00:00      12
2      2017-04-01 02:00:00       5
3      2017-04-01 03:00:00       5
4      2017-04-01 04:00:00      17
...                    ...     ...
11563  2018-07-31 19:00:00     545
11564  2018-07-31 20:00:00     874
11565  2018-07-31 21:00:00     386
11566  2018-07-31 22:00:00     223
11567  2018-07-31 23:00:00      98

[11568 rows x 2 columns]

In [5]:
df['volume']=np.log(df['volume'])

In [6]:
#Adding features like hour, end_of_month, start_of_month, Weekday

df.DateTime = pd.to_datetime(df.DateTime)
df["hour"] = df.DateTime.dt.hour
#df["month"] = df.DateTime.dt.month
#df["week"] = df.DateTime.dt.week
#df["day"] = df.DateTime.dt.day
#df["dayofweek"] = df.DateTime.dt.dayofweek
df['end_of_month']=df.DateTime.dt.is_month_end.astype(int)
df['start_of_month']=df.DateTime.dt.is_month_start.astype(int)
df['WEEKDAY'] = ((pd.DatetimeIndex(df['DateTime']).dayofweek)).astype(int)

df

                 DateTime    volume  ...  start_of_month  WEEKDAY
0     2017-04-01 00:00:00  2.302585  ...               1        5
1     2017-04-01 01:00:00  2.484907  ...               1        5
2     2017-04-01 02:00:00  1.609438  ...               1        5
3     2017-04-01 03:00:00  1.609438  ...               1        5
4     2017-04-01 04:00:00  2.833213  ...               1        5
...                   ...       ...  ...             ...      ...
11563 2018-07-31 19:00:00  6.300786  ...               0        1
11564 2018-07-31 20:00:00  6.773080  ...               0        1
11565 2018-07-31 21:00:00  5.955837  ...               0        1
11566 2018-07-31 22:00:00  5.407172  ...               0        1
11567 2018-07-31 23:00:00  4.584967  ...               0        1

[11568 rows x 6 columns]

In [7]:
train=df.iloc[:10826]
train

                 DateTime    volume  ...  start_of_month  WEEKDAY
0     2017-04-01 00:00:00  2.302585  ...               1        5
1     2017-04-01 01:00:00  2.484907  ...               1        5
2     2017-04-01 02:00:00  1.609438  ...               1        5
3     2017-04-01 03:00:00  1.609438  ...               1        5
4     2017-04-01 04:00:00  2.833213  ...               1        5
...                   ...       ...  ...             ...      ...
10821 2018-06-30 19:00:00  6.590301  ...               0        5
10822 2018-06-30 20:00:00  6.694562  ...               0        5
10823 2018-06-30 21:00:00  5.940171  ...               0        5
10824 2018-06-30 22:00:00  5.298317  ...               0        5
10825 2018-06-30 23:00:00  4.543295  ...               0        5

[10826 rows x 6 columns]

In [8]:
test=df.iloc[10826:]
test

                 DateTime    volume  ...  start_of_month  WEEKDAY
10826 2018-07-01 00:00:00  3.912023  ...               1        6
10827 2018-07-01 01:00:00  3.367296  ...               1        6
10828 2018-07-01 02:00:00  1.386294  ...               1        6
10829 2018-07-01 03:00:00  0.693147  ...               1        6
10830 2018-07-01 04:00:00  3.091042  ...               1        6
...                   ...       ...  ...             ...      ...
11563 2018-07-31 19:00:00  6.300786  ...               0        1
11564 2018-07-31 20:00:00  6.773080  ...               0        1
11565 2018-07-31 21:00:00  5.955837  ...               0        1
11566 2018-07-31 22:00:00  5.407172  ...               0        1
11567 2018-07-31 23:00:00  4.584967  ...               0        1

[742 rows x 6 columns]

In [10]:
#Creating train dataset

train_data=pd.DataFrame()
train_data['ds']=train['DateTime']
train_data['y']=train['volume']
train_data['hour']=train['hour']
train_data['end_of_month']=train['end_of_month']
train_data['start_of_month']=train['start_of_month']
train_data['WEEKDAY']=train['WEEKDAY']
train_data

                       ds         y  ...  start_of_month  WEEKDAY
0     2017-04-01 00:00:00  2.302585  ...               1        5
1     2017-04-01 01:00:00  2.484907  ...               1        5
2     2017-04-01 02:00:00  1.609438  ...               1        5
3     2017-04-01 03:00:00  1.609438  ...               1        5
4     2017-04-01 04:00:00  2.833213  ...               1        5
...                   ...       ...  ...             ...      ...
10821 2018-06-30 19:00:00  6.590301  ...               0        5
10822 2018-06-30 20:00:00  6.694562  ...               0        5
10823 2018-06-30 21:00:00  5.940171  ...               0        5
10824 2018-06-30 22:00:00  5.298317  ...               0        5
10825 2018-06-30 23:00:00  4.543295  ...               0        5

[10826 rows x 6 columns]

In [11]:
#Creating test dataset

test_data=pd.DataFrame()
test_data['ds']=test['DateTime']
test_data['y']=test['volume']
test_data['hour']=test['hour']
test_data['end_of_month']=test['end_of_month']
test_data['start_of_month']=test['start_of_month']
test_data['WEEKDAY']=test['WEEKDAY']
test_data

                       ds         y  ...  start_of_month  WEEKDAY
10826 2018-07-01 00:00:00  3.912023  ...               1        6
10827 2018-07-01 01:00:00  3.367296  ...               1        6
10828 2018-07-01 02:00:00  1.386294  ...               1        6
10829 2018-07-01 03:00:00  0.693147  ...               1        6
10830 2018-07-01 04:00:00  3.091042  ...               1        6
...                   ...       ...  ...             ...      ...
11563 2018-07-31 19:00:00  6.300786  ...               0        1
11564 2018-07-31 20:00:00  6.773080  ...               0        1
11565 2018-07-31 21:00:00  5.955837  ...               0        1
11566 2018-07-31 22:00:00  5.407172  ...               0        1
11567 2018-07-31 23:00:00  4.584967  ...               0        1

[742 rows x 6 columns]

In [13]:
#Building model and adding Holiday Feature

m=Prophet(interval_width=0.95,yearly_seasonality='auto',weekly_seasonality='auto',daily_seasonality='auto')
m.add_country_holidays(country_name='IN')

In [14]:
#Adding features

m.add_regressor('hour',standardize=False)
m.add_regressor('end_of_month',standardize=False)
m.add_regressor('start_of_month',standardize=False)
m.add_regressor('WEEKDAY',standardize=False)

In [15]:
m.fit(train_data)

INFO:numexpr.utils:NumExpr defaulting to 2 threads.
INFO:fbprophet:Disabling yearly seasonality. Run prophet with yearly_seasonality=True to override this.
/usr/local/lib/python3.6/dist-packages/fbprophet/hdays.py:259: Warning:

We only support Diwali and Holi holidays from 2010 to 2030

In [16]:
m.params

{'beta': array([[ 9.10184164e-03,  9.38326257e-03, -6.15865408e-03,
         -1.12458067e-02,  4.23220999e-03,  4.88658725e-03,
         -1.58953265e-01, -2.81522517e-01, -8.94546548e-02,
         -3.73761443e-02,  1.98631121e-03,  9.12387622e-03,
          1.24127870e-04,  8.68608867e-03, -1.46582481e-02,
          5.08232302e-02, -3.96078814e-02, -4.48607875e-02,
         -2.61354302e-02, -2.59103117e-02, -1.12328183e-02,
         -2.46521336e-02,  1.64240558e-02,  1.23079924e-02,
          4.14759838e-02,  3.82359221e-02,  1.78455438e-02,
         -6.07400673e-02, -3.00368050e-02, -1.41775704e-02,
         -4.98667665e-02, -5.36956119e-03, -3.19621011e-02,
         -2.02312881e-02, -1.21830641e-02, -4.17386812e-02,
         -5.98776619e-04,  7.84770899e-03,  4.32464253e-02,
         -5.60226594e-03]]),
 'delta': array([[ 3.37332053e-02,  6.72544258e-02,  3.58120887e-02,
          5.18046528e-02,  3.18321769e-05, -3.92855048e-03,
         -4.84773210e-04,  5.34862230e-04,  1.10492988e-03,
          4.04507724e-02,  9.18273037e-05, -3.14052427e-04,
         -3.72136237e-01,  3.95509312e-03,  2.09934692e-03,
          2.23619762e-01, -8.18516953e-07,  5.06042928e-02,
         -1.90526095e-02, -8.78352627e-04,  2.27259590e-02,
          3.38992240e-01,  1.22298297e-01,  1.18610384e-02,
         -4.72556124e-01]]),
 'k': array([[-0.1198049]]),
 'm': array([[0.61190191]]),
 'sigma_obs': array([[0.05986636]]),
 'trend': array([[0.61190191, 0.61189096, 0.61188001, ..., 0.64708847, 0.6470901 ,
         0.64709173]])}

In [18]:
#Making future DataFrame

future=m.make_future_dataframe(periods=744,freq='H',include_history=False)
future

                     ds
0   2018-07-01 00:00:00
1   2018-07-01 01:00:00
2   2018-07-01 02:00:00
3   2018-07-01 03:00:00
4   2018-07-01 04:00:00
..                  ...
739 2018-07-31 19:00:00
740 2018-07-31 20:00:00
741 2018-07-31 21:00:00
742 2018-07-31 22:00:00
743 2018-07-31 23:00:00

[744 rows x 1 columns]

In [20]:
#Making features for future DataFrame

future['hour']=future.ds.dt.hour
future["end_of_month"] =future.ds.dt.is_month_end.astype(int)
future["start_of_month"] = future.ds.dt.is_month_start.astype(int)
future['WEEKDAY'] = ((pd.DatetimeIndex(future['ds']).dayofweek)).astype(int)
future

                     ds  hour  end_of_month  start_of_month  WEEKDAY
0   2018-07-01 00:00:00     0             0               1        6
1   2018-07-01 01:00:00     1             0               1        6
2   2018-07-01 02:00:00     2             0               1        6
3   2018-07-01 03:00:00     3             0               1        6
4   2018-07-01 04:00:00     4             0               1        6
..                  ...   ...           ...             ...      ...
739 2018-07-31 19:00:00    19             1               0        1
740 2018-07-31 20:00:00    20             1               0        1
741 2018-07-31 21:00:00    21             1               0        1
742 2018-07-31 22:00:00    22             1               0        1
743 2018-07-31 23:00:00    23             1               0        1

[744 rows x 5 columns]

In [21]:
#Predicting volume

forecast=m.predict(future)
forecast[['ds','yhat','yhat_lower','yhat_upper']]

/usr/local/lib/python3.6/dist-packages/fbprophet/hdays.py:259: Warning:

We only support Diwali and Holi holidays from 2010 to 2030

/usr/local/lib/python3.6/dist-packages/fbprophet/hdays.py:259: Warning:

We only support Diwali and Holi holidays from 2010 to 2030

                     ds      yhat  yhat_lower  yhat_upper
0   2018-07-01 00:00:00  2.789964    1.811225    3.670489
1   2018-07-01 01:00:00  2.160438    1.190519    3.131569
2   2018-07-01 02:00:00  1.791975    0.896798    2.735563
3   2018-07-01 03:00:00  1.826798    0.948200    2.725553
4   2018-07-01 04:00:00  2.312337    1.412818    3.322258
..                  ...       ...         ...         ...
739 2018-07-31 19:00:00  6.339043    5.428193    7.226217
740 2018-07-31 20:00:00  5.716208    4.821205    6.747003
741 2018-07-31 21:00:00  4.966792    4.050402    5.891814
742 2018-07-31 22:00:00  4.179627    3.228780    5.073771
743 2018-07-31 23:00:00  3.401040    2.441316    4.422057

[744 rows x 4 columns]

In [22]:
#Making use of exp function for converting log values to regular

forecast['yhat']=np.exp(forecast['yhat'])
forecast['yhat_lower']=np.exp(forecast['yhat_lower'])
forecast['yhat_upper']=np.exp(forecast['yhat_upper'])
forecast

                     ds     trend  ...  multiplicative_terms_upper        yhat
0   2018-07-01 00:00:00  5.129252  ...                         0.0   16.280429
1   2018-07-01 01:00:00  5.129265  ...                         0.0    8.674936
2   2018-07-01 02:00:00  5.129278  ...                         0.0    6.001293
3   2018-07-01 03:00:00  5.129291  ...                         0.0    6.213960
4   2018-07-01 04:00:00  5.129304  ...                         0.0   10.097996
..                  ...       ...  ...                         ...         ...
739 2018-07-31 19:00:00  5.138790  ...                         0.0  566.253960
740 2018-07-31 20:00:00  5.138803  ...                         0.0  303.750857
741 2018-07-31 21:00:00  5.138816  ...                         0.0  143.565584
742 2018-07-31 22:00:00  5.138829  ...                         0.0   65.341475
743 2018-07-31 23:00:00  5.138842  ...                         0.0   29.995264

[744 rows x 103 columns]

In [23]:
forecast[['ds','yhat','yhat_lower','yhat_upper']]

                     ds        yhat  yhat_lower   yhat_upper
0   2018-07-01 00:00:00   16.280429    6.117940    39.271114
1   2018-07-01 01:00:00    8.674936    3.288786    22.909903
2   2018-07-01 02:00:00    6.001293    2.451740    15.418423
3   2018-07-01 03:00:00    6.213960    2.581059    15.264848
4   2018-07-01 04:00:00   10.097996    4.107513    27.722870
..                  ...         ...         ...          ...
739 2018-07-31 19:00:00  566.253960  227.737407  1375.010714
740 2018-07-31 20:00:00  303.750857  124.114611   851.503215
741 2018-07-31 21:00:00  143.565584   57.420512   362.061648
742 2018-07-31 22:00:00   65.341475   25.248837   159.775705
743 2018-07-31 23:00:00   29.995264   11.488154    83.267430

[744 rows x 4 columns]

In [24]:
results=pd.DataFrame()
results['DateTime']=forecast['ds']
results['predicted']=forecast['yhat']
results

               DateTime   predicted
0   2018-07-01 00:00:00   16.280429
1   2018-07-01 01:00:00    8.674936
2   2018-07-01 02:00:00    6.001293
3   2018-07-01 03:00:00    6.213960
4   2018-07-01 04:00:00   10.097996
..                  ...         ...
739 2018-07-31 19:00:00  566.253960
740 2018-07-31 20:00:00  303.750857
741 2018-07-31 21:00:00  143.565584
742 2018-07-31 22:00:00   65.341475
743 2018-07-31 23:00:00   29.995264

[744 rows x 2 columns]

In [27]:
test['volume']=np.exp(test['volume'])
test

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

                 DateTime  volume  hour  end_of_month  start_of_month  WEEKDAY
10826 2018-07-01 00:00:00    50.0     0             0               1        6
10827 2018-07-01 01:00:00    29.0     1             0               1        6
10828 2018-07-01 02:00:00     4.0     2             0               1        6
10829 2018-07-01 03:00:00     2.0     3             0               1        6
10830 2018-07-01 04:00:00    22.0     4             0               1        6
...                   ...     ...   ...           ...             ...      ...
11563 2018-07-31 19:00:00   545.0    19             1               0        1
11564 2018-07-31 20:00:00   874.0    20             1               0        1
11565 2018-07-31 21:00:00   386.0    21             1               0        1
11566 2018-07-31 22:00:00   223.0    22             1               0        1
11567 2018-07-31 23:00:00    98.0    23             1               0        1

[742 rows x 6 columns]

In [28]:
import plotly
import plotly.graph_objects as go

# Create random data with numpy
fig = go.Figure()
trace1=go.Scatter(x=results['DateTime'], y=results['predicted'],
                     mode='lines',
                     name='predicted')
trace2=go.Scatter(x=test['DateTime'], y=test['volume'],
                    mode='lines',
                    name='actual')

data=[trace2,trace1]


updatemenus = list([
    dict(active=1,
         buttons=list([
            dict(label='Log Scale',
                 method='update',
                 args=[{'visible': [True, True]},
                       {'title': 'Log scale',
                        'yaxis': {'type': 'log'}}]),
            dict(label='Linear Scale',
                 method='update',
                 args=[{'visible': [True, True]},
                       {'title': 'Linear scale',
                        'yaxis': {'type': 'linear'}}])
            ]),
        )
    ])

layout = dict(updatemenus=updatemenus, title='Linear scale')
fig = go.Figure(data=data, layout=layout)
fig.update_xaxes(rangeslider_visible=True)
fig.update_layout(title_text="LSTM UNIVARIATE MODEL")


plotly.offline.iplot(fig)