### **<center>Forecasting Values Using Prophet Model**

In [1]:
#importing necessary Libraries
import pandas as pd
import numpy as np
import json
from fbprophet.serialize import model_to_json, model_from_json

In [4]:
#Opening the PROPHET MODEL & reading it

with open('Prophet_serialized_model.json','r') as fin:
  m=model_from_json(json.load(fin))

INFO:numexpr.utils:NumExpr defaulting to 2 threads.

In [5]:
#Making future DataFrame
#Please do note that we're predicting in HOURS, so specify the "No of Hours" in "Periods="
#If 
#1)You want to predict for next 6 hours, write " periods=6, freq=H" 
#2)For next 1 day, write "periods=24, freq=H "


#Here let's predict for next 1 month. So for July, 31days x 24Hours =744 periods
future=m.make_future_dataframe(periods=744,freq='H',include_history=False)
future

                     ds
0   2018-07-01 00:00:00
1   2018-07-01 01:00:00
2   2018-07-01 02:00:00
3   2018-07-01 03:00:00
4   2018-07-01 04:00:00
..                  ...
739 2018-07-31 19:00:00
740 2018-07-31 20:00:00
741 2018-07-31 21:00:00
742 2018-07-31 22:00:00
743 2018-07-31 23:00:00

[744 rows x 1 columns]

In [7]:
#Forecasting the values for the dataframe i.e hours we just created

forecast=m.predict(future)
forecast[['ds','yhat','yhat_lower','yhat_upper']]

/usr/local/lib/python3.6/dist-packages/fbprophet/hdays.py:259: Warning:

We only support Diwali and Holi holidays from 2010 to 2030

/usr/local/lib/python3.6/dist-packages/fbprophet/hdays.py:259: Warning:

We only support Diwali and Holi holidays from 2010 to 2030

                     ds      yhat  yhat_lower  yhat_upper
0   2018-07-01 00:00:00  2.419609    1.396878    3.288830
1   2018-07-01 01:00:00  1.822461    0.929193    2.828706
2   2018-07-01 02:00:00  1.466253    0.523298    2.393662
3   2018-07-01 03:00:00  1.495886    0.607939    2.396364
4   2018-07-01 04:00:00  1.971784    1.007157    2.913599
..                  ...       ...         ...         ...
739 2018-07-31 19:00:00  6.265207    5.366951    7.173484
740 2018-07-31 20:00:00  5.629273    4.667954    6.597891
741 2018-07-31 21:00:00  4.871610    4.036355    5.859719
742 2018-07-31 22:00:00  4.094135    3.153087    5.060576
743 2018-07-31 23:00:00  3.346353    2.386429    4.315470

[744 rows x 4 columns]

In [8]:
#The values are forecasted in LOG , so we've to convert them in the original form
#Create a results dataframe where we'll store the DateTime and the Forecasting Values
results=pd.DataFrame()
results['DateTime']=forecast['ds']
results['predicted']=np.exp(forecast['yhat'])
results
#And..... we're done!

               DateTime   predicted
0   2018-07-01 00:00:00   11.241468
1   2018-07-01 01:00:00    6.187068
2   2018-07-01 02:00:00    4.332970
3   2018-07-01 03:00:00    4.463289
4   2018-07-01 04:00:00    7.183477
..                  ...         ...
739 2018-07-31 19:00:00  525.950440
740 2018-07-31 20:00:00  278.459684
741 2018-07-31 21:00:00  130.530963
742 2018-07-31 22:00:00   59.987401
743 2018-07-31 23:00:00   28.398985

[744 rows x 2 columns]